@use "../utilities/variables" as *;

.display-4 {
    .fw-bold {
        .text-success {
            color: $text-light !important;
        }
    }
}

.btn {
    .btn-primary {
        .mt-4 {
        background-color: $secondary-color !important;
        text-decoration-color: $primary-color !important;
        }
    }
}