@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.display-4 .fw-bold .text-success {
    color: $text-light;
}

.btn {
    .btn-primary {
        .mt-4 {
        background-color: $secondary-color;
        text-decoration-color: $primary-color;
        }
    }
}