/*FOOTER*/
.footer {
  border-top: 3px solid #cfbb05;
  background-color: #e6c407;
  font-size: 0.9rem;
}

/*.footer.bg-dark {
  background-color: #e6c407;
}*/

.footer a:hover {
  color: #ffcc00;
  transition: color 0.3s ease;
}

.footertop i {
  margin-right: 5px;
}