/*FOOTER*/
.footer {
  border-top: 1px solid #000000;
  font-size: 0.9rem;
}

.footer.bg-dark {
  background-color: #000;
}

.footer a:hover {
  color: #ffcc00;
  transition: color 0.3s ease;
}

.footertop i {
  margin-right: 5px;
}