// fuente montserrat 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

// fuente Cyber Brush (archivo local)
@font-face {
  font-family: "Cyber Brush";
  src: url('../../fonts/Cyber Brush.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

// font-family: "Montserrat", sans-serif;
// font-family: "Cyber Brush", cursive;