// Variables
$primary-color: #000000;
$hover-color:#ffcc00;
$secondary-color: #ffcc00;
$text-light: #ffffff;
$text-gray: #ccc;
$text-dark: #000000;
$border-color: #000000;
$font-family: "Montserrat", sans-serif;
